<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/head') %>
    <title>Home page</title>
</head>

<body>

  <%- include('./partials/navbar') %>

  <div class="blogcontainer">
    <div class="row">
      <% blogs.forEach(blog => { %>
        <div class="card">
          <img src="<%= blog.coverImageURL %>" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">
              <%= blog.title %>
            </h5>
            <a href="/blog/<%= blog._id %>" class="btn">View</a>
          </div>
        </div>
      <% }) %>
    </div>
  </div>
  
<footer class="dashboardFooter"> &copy2025 Blogify. All right reserved.</footer>

    <%- include('./partials/scripts') %>
</body>

</html>